<!DOCTYPE html>
<html>

<head>
    <title>Hospital Profile</title>
</head>

<body>
    <table>
        <tr>
            <td>Public Key</td>
            <td><%= myData._publickey %></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><%= myData._name %></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><%= myData._email %></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><%= myData._phone %></td>
        </tr>
        <tr>
            <td>Ownership Type</td>
            <td><%= myData._ownership %></td>
        </tr>
        
        <tr>
            <td>State</td>
            <td><%= myData._state %></td>
        </tr>
        <tr>
            <td>Place</td>
            <td><%= myData._place %></td>
        </tr>
        <tr>
                <td>Hospital Address</td>
                <td><%= myData._haddress %></td>
            </tr>
    </table>
</body>

</html>
